@import "colors";

$clr-alpha: $sandyBeach;
$clr-beta: $goldenTainoi;
$clr-delta: $froly;
$clr-epsilon: $mandy;
$clr-zeta: $brickRed;
$clr-eta: $cadetBlue;
$clr-theta: $whisper;
$clr-iota: $catskillWhite;
$clr-kappa: $whiteLilac;
$clr-lambda: $zumthor;
$clr-mu: $periwinkleGray;
$clr-nu: $waikawaGray;
$clr-xi: $eastBay;
$clr-omicron: $fiord;
$clr-pi: $oxfordBlue;
$clr-rho: $mirage;
$clr-sigma: $vulcan;
$clr-tau: $white;
$clr-upsilon: $mischka;
$clr-phi: $scorpion;
$clr-chi: $cardinal;
$clr-psi: $cherub;
$clr-omega: $mischka-alfa;
$clr-alpha-alpha: $storm-gray;
$clr-alpha-beta: $silver;
$clr-alpha-delta: $carouselPink;
$clr-alpha-epsilon: $silver-chalice;
$clr-alpha-zeta: $periwinkle-gray;
$clr-alpha-eta: $wild-blue-yonder;
$clr-alpha-theta: $lightning-yellow;
$clr-alpha-iota: $mercury;
$clr-alpha-kappa: $boulder;
$clr-alpha-lambda: $emperor;
$clr-alpha-mu: $gallery;


