// Font Family

$desktopFontFamily: 'Montserrat', sans-serif;
$tabletFontFamily: 'Roboto', sans-serif;
$phoneFontFamily: 'Roboto', sans-serif;

// Font sizes
$mainFZ: 18px;


// Font weights

$light: 100;
$regular: 400;
$medium: 500;
$semi-bold: 500;
$bold: 700;
